html, body {
  margin: 0;
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  overflow: hidden;
  height: inherit;
}

canvas {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/7a/Partial_view_of_Bras%C3%ADlia%2C_Brazil.jpg");
}

h1 {
  font-size: 100px;
  letter-spacing: -1px;
  position: absolute;
  margin: 0;
  top: -4px;
  right: 5px;
  color: white;
}

h2 {
  font-size: 200px;
  position: absolute;
  margin: 0;
  color: white;
  animation: rotations 3s ease infinite;
}

h3 {
  margin: 0;
  font-size: 25px;
  position: absolute;
  color: white;
  margin-top: 250px;
  width: 200px;
}

@keyframes rotations {
  0%{
    transform: rotate(720deg);
    color: red;
  }
  15% {
    font-size: 150px;
    color: orange;
  }
  30% {
    font-size: 70px;
    color: yellow;
  }
  45% {
    font-size: 250px;
    color: green;
  }
  60% {
    font-size: 120px;
    color: blue;
  }
  75% {
    font-size: 60px;
    color: violet;
  }
  90% {
    color: red;
  }
}